* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
  font-family: "Akira", sans-serif;
}
section {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.card {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: linear-gradient(#ffffff 50%, #30aeb5 10%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 50px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
h3 {
  font-size: 16px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0; 
}

.icon-wrapper {
  background-color: #30aeb5;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #000000;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}

img {
  padding-top: 20px;
  padding-bottom: 50px;
}

body video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.link{
  text-decoration: none;
}

.button i{
  color:#ffffff;
  width:auto; 
  border-radius: 10%;
  cursor: pointer;
  size:30%;
  position:absolute;
  padding-left:1375px;
  padding-top:40px;
  border-radius: 10%;
  }

@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
